
document(
  pageSize='A4'
  pageOrientation='landscape'
  pageMargins=[ 7, 35, 7, 91 ]
  defaultStyle=({ font: 'HelveticaNeue' })
)
  styles
  header

  content
    p This is template #{template}

  footer

