
document pageSize='A4'

  colours
    blue= '#002567'
    gold= '#6e560e'
    beige= '#ede9db'
    white= '#ffffff'

  header
  footer

  content
    p This is template #{template}
    p Colour is #{colours.gold}
    p Color is #{colors.blue}

