
document
  pageSize A4
  pageOrientation landscape
  pageMargins= [ 7, 35, 7, 91 ]

  images

  content
    svg
      ' <svg width="300">
      '  <path />
      ' </svg>
    svg fit=[ 150, 100 ]
      ' <svg width="400"><path /></svg>
    svg width="100" height=(200)
      | <svg width="500"><path /></svg>
      / https://pdfmake.github.io/docs/0.1/document-definition-object/svgs/

