
document
  pageSize A4
  pageOrientation portrait
  pageMargins= [ 7, 35, 7, 91 ]

  dataUrls
    darts= '/images/gecbl/darts.png'
    office= '/images/abu/office.png'

  header
  footer

  content
    p This is template #{template}
    p Image is at #{dataUrls.darts}
    /{ image: dataUrls.shield, width: 91, style: [ 'footer', 'logo' ] }
    /img.footer.logo href="#{dataUrls.darts}" width="91"

